<!-- <ul class='feed-list'>
  <% feeds.each(function (feed) { %>
      <li data-id="<%=feed.id%>">
        <%= feed.get('title') %>
      </li>
      <div class="feed-entries <%=feed.id%>"></div>
  <% }); %>
</ul> -->
